:root{
    --backgroud-color: #ececec;
    --main-color: #ffffff ;
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{ 
    box-sizing: border-box;
    background-color: var(--backgroud-color);
    margin: 0%;
    padding: 2vh;
    display: flex;
}

.main{
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    height: 96vh;
}

.main__part-one{
    width: 49%;
    height: 100%;
    margin-right: 2%;
    background-color: var(--main-color);
    border-radius: 10px;
}

.main__part-two{
    background-color: var(--main-color);
    width: 49%;
    height: 100%;
    border-radius: 10px;
}

.header{
    box-sizing: border-box;
    background-color: var(--main-color);
    width: 20vh;
    height: 96vh;
    margin-right: 2vw;
    border-radius: 10px;
}
