:root{
    --backgroud-color: #ececec;
    --main-color: #ffffff ;
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{ 
    box-sizing: border-box;
    background-color: var(--backgroud-color);
    margin: 0%;
    padding: 2vh;
    display: flex;
}

.main{
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    height: 96vh;
}

.main__part-one{
    width: 49%;
    height: 100%;
    margin-right: 3%;
    margin-left: 2%;
    background-color: var(--main-color);
    border-radius: 10px;
}

.main__part-two{
    background-image: url(./imagenes_reservacion/HR_Reservacion_page-0001\ \(1\).jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 49%;
    height: 100%;
    border-radius: 10px;
}

.part-two__header{
    width: 100%;
    height: 70px;
    background-color: white;
}

/* sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss */
.header{
    box-sizing: border-box;
    background-color: var(--main-color);
    width: 30vh;
    height: 96vh;
    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 10px;
}

